APP_NAME=OleaSat Backend
ENVIRONMENT=development
DEBUG=true
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
SH_CLIENT_ID=
SH_CLIENT_SECRET=
SH_BASE_URL=https://services.sentinel-hub.com
SH_TOKEN_URL=https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token

DATABASE_URL=sqlite:///./data/oleasat.db
TELEGRAM_BOT_TOKEN=
